* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

form input {
    display: block;
    width: 100%;
}

.search-btn {
    width: 61%;
}

.hidden {
    display: none;
}

.hero {
    background-color: #000;
    box-shadow: 0px 0px 3px #ddd;
}

.logo {
    color: #fff;    
    font-weight: bold;
}

.current {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 2px #000;
}


.forecast-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px
}

.forecastCard {
    border-bottom: 3px solid #000;
}


/* right hand side card styling */
.card-block {
    margin-bottom: 20px;
}

.recent_block {
    background-color: rgb(96, 20, 182);
}

@media screen and (max-width: 760px){
    .recent_block {
        display: none;
        background-color: red;
    }
}


/* the page foot styling */
.foot {
    margin: 0;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: black;
}